body
{
    font-size: 16px;
    font-family: 'Poppins', serif;
    width: 100%;
    height: 100%;
    margin: 0;
    color: #333;
    background-color: #fff;
}

img
{
    width: 100%;
}

.margin-tb-30
{
    margin-top: 30px;
    margin-bottom: 30px;
}

.intro-section
{
    padding-top: 200px;
    position: relative;
    background-size: cover;
    z-index: 1;
    background-image: url("https://images.adsttc.com/media/images/5017/aeef/28ba/0d44/3100/0c6d/slideshow/stringio.jpg?1414573411");
}

.intro
{
    padding: 0 20px;
    margin-top: 100px;
    text-align: center;
    background-color: #fff;
}

.intro .profile-img
{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: -100px;
    margin-bottom: -70px;
}

.intro .information > li
{
    display: block;
    margin: 0 0;
}

.intro .social-icons > li > a
{
    height: 35px;
    line-height: 35px;
    width: 35px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
    position: relative;
    margin: 0 5px 5px;
    background: #887392;
    color: #fff;
}

.intro-section:before
{
    content:'';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0, .2);
}

.intro-section:after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    z-index: -1;
    background-color: #fff;
}

ul {
    list-style: none;
}

.accordion a {
    text-decoration: none;
    color: inherit;
}

.accordion {
    list-style: none;
    padding: 0;
    margin: 40px auto;
}
.accordion .inner {
    padding-left: 1em;
    overflow: hidden;
    display: none;
}
.accordion .inner.show {
    /*display: block;*/
}
.accordion li {
    margin: 0.5em 0;
}
.accordion li a.toggle {
    width: 100%;
    display: block;
    background: rgb(120, 175, 220);
    color: black;
    padding: 0.75em;
    border-radius: 0.15em;
    transition: 0.3s ease;
}
.accordion li a.toggle:hover {
    background: rgba(120, 150, 180);
}

.accordion .inner li:hover {
    font-weight: 700;
}

.content {
    display: none;
}

.loader {
    height: 80px;
    width: 80px;
    margin: 300px auto;
    display: block;
}